<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/icon.png" type="image/png" />
    <title>WeTutor</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600" rel="stylesheet"> 
  </head>

  <body>
    <header class="header_area">
      <section class="banner_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h" href="/"><h1 class="text-center mt-4 mb-5">
              WeTutor
            </h1></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            </button>
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
               <!-- Add notification Icon HERE -->
                <li class="nav-item">
                    <a class="nav-link" href="/partials/about">About</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/myprofile">My Profile</a>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>
 </header>
