<%- include('./partials/HomeHeader.ejs') %> 
<body>
    <div class="header"></div>

    <div class="row">
        <div class="tutButtons">
            <button>Join Class</button>
            <button>Find Tutor</button>
        </div>
        
        <div class="grid-containers">
            <div class="grid-items">
                <div class="left-items">
                    <h1>Programming Tutorial</h1>
                    <h4>Arrays</h4>
                    <h5>Mr. Juan De La Cruz</h5>
                </div>

                <div class="right-items">
                    <h3>January 24, 2022</h3>
                    <h4>6:00pm - 7:00pm</h4>
                    <h4>Php 300/hr</h4>
                </div>
                <button>+</button>
            </div>
            <div class="grid-items">
                <div class="left-items">
                    <h1>Programming Tutorial</h1>
                    <h4>Arrays</h4>
                    <h5>Mr. Juan De La Cruz</h5>
                </div>

                <div class="right-items">
                    <h3>January 24, 2022</h3>
                    <h4>6:00pm - 7:00pm</h4>
                    <h4>Php 300/hr</h4>
                </div>
                <button>+</button>
            </div>
            <div class="grid-items">
                <div class="left-items">
                    <h1>Programming Tutorial</h1>
                    <h4>Arrays</h4>
                    <h5>Mr. Juan De La Cruz</h5>
                </div>

                <div class="right-items">
                    <h3>January 24, 2022</h3>
                    <h4>6:00pm - 7:00pm</h4>
                    <h4>Php 300/hr</h4>
                </div>
                <button>+</button>
            </div>
        </div>
    </div>
</body>