<%- include('./partials/HomeHeader.ejs') %> 


<body>
    
    <div class="row">
        <div class="tutButtons">
            <button>Join Class</button>
            <button>Find Tutor</button>
        </div>

        <div class="grid-containers">
            <div class="grid-items">
                <h1>Mr. Juan De La Cruz</h1>
                <h4>Math Teacher</h4>
                <h5>University of San Carlos</h5>
            </div>

            <div class="grid-items">
                <h1>Ms. Maria Santos</h1>
                <h4>Programming Teacher</h4>
                <h5>University of San Carlos</h5>
            </div>

            <div class="grid-items">
                <h1>Ms. Victoria Reyes</h1>
                <h4>Physics Teacher</h4>
                <h5>University of San Carlos</h5>
            </div>
        </div>
    </div>


</body>